/**
 * Light Colored Theme
 */

.alertBodyWrapper {
  color: #FFF;
  order: 2;
  flex-grow: 1;
  flex-basis: 100px;
}

.alertBodyWrapper a {
  color: #FFF;
}

.alertBodyWrapper a:hover,
.alertBodyWrapper a:focus {
  text-decoration: none;
}

/**
 * Dark Colored Theme.
 */

.alertBodyWrapperDark {
  color: #000;
  order: 2;
  flex-grow: 1;
  flex-basis: 100px;
}

.alertBodyWrapperDark a {
  color: #000;
}

.alertBodyWrapperDark a:hover,
.alertBodyWrapperDark a:focus {
  text-decoration: none;
}

/**
 * Label
 */

.label::after {
  content: ":";
}
